---
import config from '@config';
---

<div class="w-full text-right">
  <a href="https://www.paradigmadigital.com/" title="Paradigma Digital - Your Modernisation Partner">Paradigma Digital</a> -
  <a href="https://www.linkedin.com/in/bgeluykens/" title="Connect with me through Linkedin">LinkedIn</a>
</div>

